#tabArea{
	background: #eeeeee;
	padding-top:20px;
	padding-bottom:50px;
}

#tabMenu {
	min-width: 1024px;
	width: 1024px;
	margin: 0 auto;
	background: #ffffff;
	text-align:center;
	justify-content: space-between;  
}


<<<<<<< HEAD
/*ë¼ë””ì˜¤ë²„íŠ¼ ìˆ¨ê¹€*/
input {
	display: none;
}

/* ë¼ë””ì˜¤ë²„íŠ¼ì˜ ë¼ë²¨í™” */
label {
=======
/*¶óµð¿À¹öÆ° ¼û±è*/

.tabs {
	display: none;
}

/* ¶óµð¿À¹öÆ°ÀÇ ¶óº§È­ */

.tabLabel {

>>>>>>> d5fa777e772d693d7bee3e7a0711d1c4ece5e026
	display: inline-block;
	width:290px;
	margin: 0 auto;
	padding: 20px;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	border: 1px solid transparent;		
}

label:hover {
	color: #2e9cdf;
	cursor: pointer;
}

<<<<<<< HEAD
/*input í´ë¦­ì‹œ, label ìŠ¤íƒ€ì¼*/
input:checked+label {
=======
/*input Å¬¸¯½Ã, label ½ºÅ¸ÀÏ*/

.tabs:checked+label {
>>>>>>> d5fa777e772d693d7bee3e7a0711d1c4ece5e026
	color: red;
	border-bottom: 3px solid red;
}

<<<<<<< HEAD
/* tabì´ ì²´í¬ë˜ë©´ tabë¶€í„° contentê¹Œì§€ì˜ ëª¨ë“  ìžì‹ì— ëŒ€í•œ ìŠ¤íƒ€ì¼  */
#tab1:checked ~ #notice,
=======
/* tabÀÌ Ã¼Å©µÇ¸é tabºÎÅÍ content±îÁöÀÇ ¸ðµç ÀÚ½Ä¿¡ ´ëÇÑ ½ºÅ¸ÀÏ  */

#tab1:checked ~ #bulletin,
>>>>>>> d5fa777e772d693d7bee3e7a0711d1c4ece5e026
#tab2:checked ~ #policy,
#tab3:checked ~ #FQA {
	display: block;
}

/* ¼±ÅÃ¿¡ µû¶ó Ãß°¡µÉ ³»¿ë ½ºÅ¸ÀÏ */
section {
	display: none;
	border-top: 1px solid #ddd;
}

<<<<<<< HEAD
/* ê³µì§€ì‚¬í•­ ì „ì²´ ì˜ì—­ */
.noticeDiv{

}

/* ê³µì§€ì‚¬í•­ ê¸€ í•˜ë‚˜ */
.noticeArea{
=======

/* °øÁö»çÇ× ¿µ¿ª */
.bulletinDiv{


}

/* °øÁö»çÇ× ±Û ÇÏ³ª */

.bulletinArea{

>>>>>>> d5fa777e772d693d7bee3e7a0711d1c4ece5e026
	border:1px solid #d2d2d2;
	text-align:left;
	white-space : pre-line;
	padding-bottom:0;
	position:relative;
	cursor:pointer;
}

.noticeTitle{
	font-size:20px;
	font-weight:600;
	padding:10px;
	margin : 0 auto;
}

.noticeDate{
	margin : 0 auto;
	padding: 10px;
	color:rgb(204, 204, 204);
}

.noticeContent{
	display:none;
	text-align:left;
	margin:0px;
	padding:10px;
	white-space : pre-line;
	background-color:#eeeeee;
	position:relative;

	
	
}

.contentEmp{
	color:red;
	text-decoration: underline;
}

.prohibitedItem{
	font-weight:600;
	text-decoration: underline;
}

#policy{
	font-size:15px;
	background: rgb(255, 255, 255);
    padding: 4rem 3.5rem;
    color: rgb(30, 29, 41);
}
/* #policy div{
	border: 1px solid gray;
} */

#a1{
	display: flex;
   /*  flex-direction: row;
    width: 100%; */
    border-bottom: 2px solid rgb(30, 29, 41);
    margin-bottom: 36px;
}
#a2{
	display: flex;
    flex-direction: row;
    width: 100%;
}
#b1{
	width: 280px;
}
#b2{
	/* flex: 1 1 0%; */
}
.c1{
	font-weight : 600;
	white-space : pre-line;
	text-align : left;
    display: block;
    margin-bottom: 12px;
    color: rgb(30, 29, 41);
}

#c2{
	font-size:25px;
}
.c3{
	border-bottom: 1px solid rgb(234, 233, 241);
    /* height: 70px; */
    font-weight : 600;
    display: flex;
   	text-align : left;
   	padding-top:25px;
   	padding-bottom:25px;
}
#d1{
	width: 280px;
	font-size:25px; 
	font-weight : 600;
	text-align : left;
    color: rgb(30, 29, 41);  
}
#d2{
	flex: 1 1 0%;
}
#e1{
    display: flex;
    font-weight: 600;
}
#e2{
	 /* display: flex; */
	margin-top: 2.5rem;
    border-top: 1px solid rgb(94, 92, 107);
    border-bottom: 1px solid rgb(94, 92, 107);
}
#e3{
	color: red;
    font-size: 13px;
    margin-top: 15px;
    display: flex;
    font-weight:600;
}
#f1{
	border-bottom: 1px solid rgb(94, 92, 107);
    display: flex;
    height: 50px;
}

#f2{
	margin: 0px;
    padding: 0px;
    border: 0px;
}

.g1{
    width: 15.5rem;
    padding: 12px;
    font-weight: 600;
}
.g2{
	flex: 1 1 0%;
	padding: 12px;
	font-weight: 600;
}
.g3{
	display: flex;
    height: 50px;
}
.h1{
	padding: 12px;
	width: 15.5rem;
	font-weight: 600;
}
.h2{
	padding: 12px;
	flex: 1 1 0%;
	font-weight: 600;
}


<<<<<<< HEAD
=======
.menu {
	display: none;
}

.menuLabel {
	display: inline-block;
	width:297px;
	margin: 0 auto;
	padding: 20px;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	
}

.menuLabel:hover {
	color: gray;
	cursor: pointer;
}

/*input Å¬¸¯½Ã, label ½ºÅ¸ÀÏ*/
.menu:checked+label {
	color: red;
}

/* tabÀÌ Ã¼Å©µÇ¸é tabºÎÅÍ content±îÁöÀÇ ¸ðµç ÀÚ½Ä¿¡ ´ëÇÑ ½ºÅ¸ÀÏ  */
#menu1:checked ~ #section1,
#menu2:checked ~ #section2,
#menu3:checked ~ #section3,
#menu4:checked ~ #section4,
#menu5:checked ~ #section5,
#menu6:checked ~ #section6,
#menu7:checked ~ #section7,
#menu8:checked ~ #section8,
#menu9:checked ~ #section9 {
	display: block;
}

/* °øÁö»çÇ× ±Û ÇÏ³ª */
.postArea{
	border:1px solid #d2d2d2;
	text-align:left;
	position:relative;
	cursor:pointer;
}

.postTitle{
	font-size:17px;
	font-weight:600;
	padding:20px;
	margin : 0 auto;
}

.postContent{
	display:none;
	text-align:left;
	margin:0px;
	padding:10px;
	white-space : pre-line;
	background-color:#eeeeee;
	position:relative;
}

>>>>>>> d5fa777e772d693d7bee3e7a0711d1c4ece5e026
















