<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardSQL">
	
	<select id="getItem" resultType="item">
		select * from item where item_seq=#{item_seq}
	</select>
	
	<select id="getCommentList" resultType="comment">
		select * from itemComment where item_seq=#{item_seq} order by logtime desc
	</select>
	
	<insert id="itemComment" parameterType="java.util.Map">
		insert into itemComment values(comment_seq.nextval,
										#{item_seq},
										'깜냥이',<!-- 유저아이디, 세션에서 받아 넣을 것 -->
										#{item_comment},
										sysdate,
										'/pmang/image/itemPic.jpg' <!-- 유저아이디로 조인 걸어서 받아올 것 -->
										)
	</insert>
	
	<delete id="commentDelete">
		delete itemComment where comment_seq=#{comment_seq}
	</delete>
	
	<select id="getAComment" resultType="comment">
		select * from itemComment where comment_seq=#{comment_seq}
	</select>

	<select id="getItemBoardList" parameterType="java.util.Map" resultType="item">
		select item_seq, img1, item_subject, category1, category2, category3, item_location, item_price,hashtag1, hashtag2, hashtag3, hit, logtime from item where category1 = #{category1}
		<if test="category2 != null">
			and category2 = #{category2}
		</if>
		<if test="category3 != null">
			and category3 = #{category3}
		</if>
		
		order by logtime desc
		
	</select>
	
	<select id="getItemBoardCount1" parameterType="java.util.Map" resultType="java.util.Map">
		select category1, category2, count(category2) as cnt2 from item group by category1, category2 having category1 = #{category1} and category2 is not null
	</select>
	
	<select id="getItemBoardCount2" parameterType="java.util.Map" resultType="java.util.Map">
	 	select category2, category3, count(category3) as cnt3 from item group by category2, category3 having category2 = #{category2} and category3 is not null
	</select>
	
	<select id="getEntireItemNum" parameterType="java.util.Map" resultType="int">
	 	<if test="category2 == null and category3 == null">
	 		select count(category1) from item where category1 = #{category1}
	 	</if>
	 	<if test="category2 != null and category3 == null">
	 		select count(category2) from item where category2 = #{category2}
	 	</if>
	 	<if test="category3 != null">
	 		select count(category3) from item where category3 = #{category3}
	 	</if>
	</select>
	
	<select id="getOrderbyItem" parameterType="java.util.Map" resultType="item">
		select item_seq, img1, item_subject, category1, category2, category3, item_location, item_price,hashtag1, hashtag2, hashtag3, hit, logtime from item where category1 = #{category1}
		<if test="category2 != null">
			and category2 = #{category2}
		</if>
		<if test="category3 != null">
			and category3 = #{category3}
		</if>
		
		<if test="order.equals('최신순')">
			order by logtime desc
		</if>
		<if test="order.equals('인기순')">
			order by hit
		</if>
		<if test="order.equals('저가순')">
			order by item_price desc
		</if>
		<if test="order.equals('고가순')">
			order by item_price
		</if>
		
	</select>
</mapper>














