<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	<select id="getItemBoardList" parameterType="java.util.Map" resultType="item">
		select item_seq, img1, itemSubject, category1, category2, category3, item_location, item_price,hashtag1, hashtag2, hashtag3, hit, logtime from item where category1 = #{category1}
		<if test="category2 != null">
			and category2 = #{category2}
		</if>
		<if test="category3 != null">
			and category3 = #{category3}
		</if>
		
		order by logtime desc
		
	</select>
	
	<select id="getItemBoardCount1" parameterType="java.util.Map" resultType="java.util.Map">
		select category1, category2, count(category2) as cnt2 from item group by category1, category2 having category1 = #{category1} and category2 is not null
	</select>
	
	<select id="getItemBoardCount2" parameterType="java.util.Map" resultType="java.util.Map">
	 	select category2, category3, count(category3) as cnt3 from item group by category2, category3 having category2 = #{category2} and category3 is not null
	</select>
</mapper>












