<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="talkSQL">
    
    <!-- 방 조회 -->
    <select id="isRoom" parameterType="talkRoom" resultType="talkRoom">
       select * from talkroom where userId = #{userId} and partner_userId = #{partner_userId}  
    </select>
    
    <!-- 방 생성 -->
    <insert id="createRoom" parameterType="talkRoom">
       insert into talkroom values(talkRoom_seq.nextval,#{userId},#{partner_userId},#{item_seq},0)
    </insert>
    
    <!-- Message 생성 -->
    <insert id="insertMessage" parameterType="message">
       insert into message values(#{sender_user_id},#{receiver_user_id},#{talkRoom_seq},#{talk_content},sysdate,#{receiver_user_profileImage},#{item_seq})
    </insert>
    
    <!-- 방 리스트 출력 -->
    <select id="getRoomList" parameterType="String" resultType="talkRoom">
       select * from talkroom where userId = #{userId}
    </select>
 
    <!-- seller조회 -->
    <select id="getSeller" parameterType="String" resultType="seller">
      select * from seller where userId=#{partner_userId}
    </select>
    
    <!-- item 조회 -->
    <select id="getItem" parameterType="int" resultType="item">
       select * from item where item_seq = #{item_seq}
    </select>
    
    <!-- lastMessage 조회 -->
    <select id="getLastMessage" parameterType="int" resultType="message">
    	select * from(
    		select * from message where talkRoom_seq = #{talkRoom_seq} order by send_time desc
		)where ROWNUM = 1
    </select>
 </mapper>
 
